<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
layout:decorate="layout">

<head>
<meta charset="UTF-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>Contact</title>

</head>
<body>

<div layout:fragment="content1">

	<div class="container d-flex justify-content-center">

		<div class="card" style="width: 100rem;">
			<img class="card-img-top rounded-top" src="https://www.cegecol.com/media/contact.jpg" alt="Card image cap">
			<div class="card-body">
				<h5 class="card-title d-flex justify-content-center">Contact</h5>
				<p class="container card-text text-center">Bienvenue sur notre page de contact ! Nous sommes ravis de vous offrir une plateforme de gestion de cours de qualité supérieure et nous tenons à rester en contact étroit avec nos utilisateurs pour garantir une expérience optimale. Si vous avez des questions, des commentaires ou des préoccupations, n'hésitez pas à nous contacter.

Notre équipe de support est là pour vous aider à tout moment et à répondre à toutes vos demandes dans les plus brefs délais. Vous pouvez nous envoyer un courriel à l'adresse suivante : support@gestioncours.com ou remplir le formulaire de contact ci-dessous et nous vous répondrons dès que possible.

Nous sommes déterminés à améliorer sans cesse notre plateforme et à fournir un service de qualité à nos utilisateurs. N'hésitez pas à nous faire part de vos commentaires et suggestions pour nous aider à améliorer notre service.

Nous vous remercions pour votre confiance en notre plateforme et nous espérons que vous apprécierez notre service de gestion de cours.</p>
				
			</div>
		</div>


	</div>
	</div>



</body>
</html>