<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="layout"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
<meta charset="UTF-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>Home</title>

</head>
<body>

	<div layout:fragment="content1">

		<div class="card container d-flex justify-content-center rounded-5">


			<div class="card-body">

				<h1 class="card-title mb-5">Etablissements</h1>

				<div class="">
					<form class=" mb-3" th:action="@{establishment-management}" method="get">
						<div class="row g-3 mb-3">
							<div class="input-group col mr-3">
								<input name="keyword" th:value="${keyword}" class="form-control me-2" type="search" placeholder="Mots clés" aria-label="Search">
      <button class="btn btn-outline-success" type="submit">Search</button>
							</div>

						</div>
						
					</form>
				</div>

				<table class="table table-striped table-hover">
					<thead>
						<tr>
							<th>ID</th>
							<th>Type</th>
							<th>Nom</th>							
							<th>Adresse</th>
							<th>Ville</th>
							<th>Code postal</th>
							
							<th></th>
							<th></th>

						</tr>
					</thead>
					<tbody>
						<tr th:each="e:${establishmentsList}">

							<td th:text="${e.id}"></td>
							<td th:text="${e.type}"></td>
							<td th:text="${e.name}"></td>							
							<td th:text="${e.adress}"></td>
							<td th:text="${e.city}"></td>
							<td th:text="${e.postalCode}"></td>
					  		
							<td sec:authorize="hasAuthority('ADMIN')"><a type="button" class="" th:href="@{/admin/update-establishment(id=${e.id},page=${currentPage},keyword=${keyword})}"><span
									class="material-symbols-outlined"> edit_note </span></a></td>
							
							<td sec:authorize="hasAuthority('ADMIN')"><a onclick="return confirm('Attention! toutes suppression est définitive \nEtes vous sûr?')" type="button" class="" th:href="@{/admin/deleteE(id=${e.id},page=${currentPage},keyword=${keyword})}"><span
									class="material-symbols-outlined"> delete </span></a></td>

						</tr>
					</tbody>
				</table>


				<div>
					<ul class="pagination">
						<li class="page-item"><a class="page-link" th:href="@{establishment-management(page=${previous}, size=${size}, keyword=${keyword})}"
							aria-label="Previous"> <span aria-hidden="true">&laquo;</span>
						</a></li>

						<li
							class="page-item'"
							th:each="pa,status:${pages}" aria-current="page"><a
							th:class="page-link"
							th:href="@{establishment-management(page=${status.index}, size=${size}, keyword=${keyword})}"
							th:text="${status.index}+1"></a></li>

						<li class="page-item"><a class="page-link" th:href="@{establishment-management(page=${next}, size=${size}, keyword=${keyword})}"
							aria-label="Next"> <span aria-hidden="true">&raquo;</span>
						</a></li>
					</ul>
				</div>
			</div>




		</div>
	</div>
</body>
</html>