<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="layout">

<head>
<meta charset="UTF-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>Update Establishment</title>


</head>


<body>

	<div layout:fragment="content1">
		<div class="card container d-flex justify-content-center">

			<div class="card-body">
				<h5 class="card-title mb-5">Modifier Etablissement</h5>
				
				<form th:action="@{updateE(page=${currentPage}, keyword=${keyword})}" method="post">
				
				
					<div class="row g-3 mb-5" >
						<div class="input-group col-1">
							<span class="input-group-text" id="id">ID: <label th:text="${establishment.id}"></label></span><input
								type="hidden" class=" form-control " placeholder="id" name="id"
								 th:value="${establishment.id}" >	 								 								  
						</div>							
						
					<div class="row g-3 mb-5">						
						<div class="col-5">
						
							<input type="text" class="form-control" placeholder="Type"
								aria-label="type" name="type" th:value="${establishment.type}">
							<span class="text-danger" th:errors="${establishment.type}"></span>
						</div>


						<div class="col-6">
							<input type="text" class="form-control" placeholder="Nom"
								aria-label="name" name="name" th:value="${establishment.name}">
							<span class="text-danger" th:errors="${establishment.name}"></span>
						</div>

					</div>



					<div class="row g-3 mb-5">
						<div class="col-sm-7">
							<input type="text" class="form-control" placeholder="Adresse"
								aria-label="Adresse" name="adress"
								th:value="${establishment.adress}"> <span
								class="text-danger" th:errors="${establishment.adress}"></span>
						</div>
						<div class="col-sm">
							<input type="text" class="form-control" placeholder="Ville"
								aria-label="Ville" name="city" th:value="${establishment.city}">
							<span class="text-danger" th:errors="${establishment.city}"></span>
						</div>
						<div class="col-sm">
							<input type="text" class="form-control" placeholder="Code postal"
								aria-label="Code postal" name="postalCode"
								th:value="${establishment.postalCode}"> <span
								class="text-danger" th:errors="${establishment.postalCode}"></span>

						</div>
					</div>
						
					</div>
					<button type="submit" class="btn btn-success">Enregistrer</button>
				</form>

			</div>




		</div>
	</div>



</body>
</html>